@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  justify-content: space-between;
  padding: 0 35px; /* Add padding to the left and right sides of the navbar */
}

.navbar-user-image {
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 71.75px;
  height: 69.18px;
  margin-right: 15px; /* Add margin to the right side of the user image */
  cursor: pointer;
}

.navbar-create-quest-button {
  color: #00000056;
  background: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
  border-color: #00000056;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s ease-in-out;
  animation: glowing-border 2s ease-in-out infinite;
}

.navbar-create-quest-button:hover {
  background: rgba(173, 216, 230, 0.3);
  cursor: pointer;
}

@keyframes glowing-border {
  0%,
  100% {
    box-shadow: 0 0 3px rgba(107, 168, 163, 0.644),
      0 0 5px rgba(107, 168, 163, 0.644),
      inset 0 0 3px rgba(107, 168, 163, 0.644),
      inset 0 0 5px rgba(107, 168, 163, 0.644);
  }
  50% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.562),
      0 0 10px rgba(255, 255, 255, 0.562),
      inset 0 0 5px rgba(255, 255, 255, 0.562),
      inset 0 0 10px rgba(255, 255, 255, 0.562);
  }
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-notifier {
  font-size: 26px;
  display: flex;
  align-items: center;
  margin-left: 15px; /* Add margin to the left side of the notifier icon */
  cursor: pointer;
}

.navbar-notifier:hover {
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgba(255, 0, 0, 0.295);
}
.profile-stats {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 1rem;

  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 200px; /* Set a fixed width */
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 32%,
    rgba(255, 0, 0, 0.342) 32%,
    rgba(255, 0, 0, 0.342) 34%,
    transparent 34%,
    transparent 36%,
    rgba(255, 0, 0, 0.342) 36%,
    rgba(255, 0, 0, 0.342) 38%,
    transparent 38%,
    transparent 40%,
    rgba(255, 0, 0, 0.342) 40%,
    rgba(255, 0, 0, 0.342) 42%,
    transparent 40%,
    transparent 42%,
    rgba(255, 0, 0, 0.342) 44%,
    rgba(255, 0, 0, 0.342) 46%,
    transparent 44%,
    transparent 46%,
    rgba(255, 0, 0, 0.342) 48%,
    rgba(255, 0, 0, 0.342) 50%,
    transparent 48%,
    transparent 50%,
    rgba(255, 0, 0, 0.342) 52%,
    rgba(255, 0, 0, 0.342) 54%,
    transparent 52%,
    transparent 54%,
    rgba(255, 0, 0, 0.342) 56%,
    rgba(255, 0, 0, 0.342) 58%,
    transparent 56%,
    transparent 58%,
    rgba(255, 0, 0, 0.342) 60%,
    rgba(255, 0, 0, 0.342) 62%,
    transparent 60%,
    transparent 62%,
    rgba(255, 0, 0, 0.342) 64%,
    rgba(255, 0, 0, 0.342) 66%,
    transparent 64%,
    transparent 66%,
    rgba(255, 0, 0, 0.342) 68%,
    rgba(255, 0, 0, 0.342) 70%,
    transparent 68%,
    transparent 70%,
    rgba(255, 0, 0, 0.342) 70%,
    rgba(255, 0, 0, 0.342) 72%,
    transparent 70%,
    transparent 72%,
    rgba(255, 0, 0, 0.342) 74%,
    rgba(255, 0, 0, 0.342) 76%,
    transparent 74%,
    transparent 76%,
    rgba(255, 0, 0, 0.342) 78%,
    rgba(255, 0, 0, 0.342) 80%,
    transparent 78%,
    transparent 80%,
    rgba(255, 0, 0, 0.342) 82%,
    rgba(255, 0, 0, 0.342) 84%,
    transparent 82%,
    transparent 84%,
    rgba(255, 0, 0, 0.342) 86%,
    rgba(255, 0, 0, 0.342) 88%,
    transparent 86%,
    transparent 88%,
    rgba(255, 0, 0, 0.342) 90%,
    rgba(255, 0, 0, 0.342) 92%,
    transparent 90%,
    transparent 92%,
    rgba(255, 0, 0, 0.342) 94%,
    rgba(255, 0, 0, 0.342) 96%,
    transparent 94%,
    transparent 96%,
    rgba(255, 0, 0, 0.342) 98%,

    rgba(255, 0, 0, 0.342) 100%,
    transparent 98%,
    transparent 100%
  );

  /* Position the linear-gradient for the top border */
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 1px;

  /* Add a dashed left border */
  border-left: 2px dashed rgba(255, 0, 0, 0.342);
  border-right: 2px dashed rgba(255, 0, 0, 0.342);
  border-bottom: 2px dashed rgba(255, 0, 0, 0.342);
  /* Add the glowing background animation */
  animation: glowing-background 2s ease-in-out infinite;
}

.profile-stats p {
  margin: 0 0 10px 0; /* Add some margin to the bottom of each paragraph */
}

.profile-stats button {
  display: block;
  width: 100%;
  margin-top: 10px; /* Add some margin to the top of the button */
}

.UserN {
  font-family: "Cinzel", serif;
  font-size: 1.4em;
}

.navbar-user-image.active {
  border-top-color: rgba(255, 0, 0, 0.384);
  border-left-color: rgba(255, 0, 0, 0.384);
  border-right-color: rgba(255, 0, 0, 0.384);
  animation: glowing-background 2s ease-in-out infinite;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes glowing-background {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.7);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
